    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>I'm Zane!</h1>
                <hr>
                <p>A self taught developer, I offer high quality web dev services.</p>
                <a href="/products" class="btn btn-primary btn-xl page-scroll">My services</a>
            </div>
        </div>
    </header>
    
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="glyphicon glyphicon-plus"></span>
          What made you want to choose to become a web developer?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       I'm becoming a web developer to help satisfy my ever growing curiosity of learning how the world around me works. Although it's hard to believe- I've probably been using the internet for 20 years now, maybe even longer, but I never really knew how the things I was looking at works. I think it was time to change that. Plus, I wanted to develop a new transferable skill. It never hurts to have a new skill and we all have to reinvent ourselves to continue to grow.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span>
          How did you begin your journey to becoming a web developer?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        It all began back in may at the suggestion of my friend, who's a Web Developer. Initially I thought it "wasn't for me," but after taking the HTML, CSS, Javascript, and Jquery courses available on CodeAcademy, I became hooked. After I completed those, I was hungry for more, so my friend would write out some problems for me on Javascript to build those skills a bit. Eventually, I decided that it would be sort of "force" myself to be accountable if I invested my own money into a course. I heard of CareerFoundry through a friend. The price is absolutely unbeatable- which is another reason why I chose to become a web developer: the fact that it is a skill that doesn't really require a degree and if it came down to it, you could even learn it for <strong>free</strong> if it really came down to it, which is more relevent than ever, particularly in my country, where much of my generation is experiencing underemployment and will be caught in the cycle of debt for potentially the rest of their lives.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span class="glyphicon glyphicon-plus"></span>
          What are some long term professional goals that you have as a web developer?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        My current job involves working with immigrant students in high school, helping acculturate them into their new lives in the United States and equipping them with the knowledge and tools they need to pursue meaningful careers. Working with these students is an incredible opportunity on so many levels. However, as I begin to appreciate more and more the value of technology (partially a perspective I've gained from working with people who might come from backgrounds where they did not have access to technology)- I have only just begin to realize the potential of technology to help educate people around the world. For the first time in history, all people need is a device that can connect to the internet as well as an internet connection to essentially access the sum of all human knowledge. While I don't think I have any sort of "developmentalist" worldview, I believe that almost all human beings can benefit from the Internet in a way that pays respects to their individual cultural needs. My long term professional goals as a web developer would be to be work for a company that uses technological solutions to solve the world's problems. Take a country like Afghanistan for example, which has extremely few qualified medical professionals in proportion to its population. Perhaps a joint public/private sector effort could bring internet connections to remote areas of the country, connect people with some kind of tablets or computer, allowing these people to gain medical knowledge via Massive Open Online Course (MOOC's) led by trained medical professionals.
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span class="glyphicon glyphicon-plus"></span>
          Looking back say... two years. Would you have ever seen yourself doing something like this?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Who knows? But back then, like now, I had goals, and now I've learned that a skill like web development will provide me with another avenue to accomplish my goals. Two years ago I wanted to help people- but I can do it through code now.
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span class="glyphicon glyphicon-plus"></span>
          The technical aspects and processes involved with being a web developer- what are the most rewarding aspects?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        The feeling of creating something new and success. So far, I've made this simple site and done everything I've done through trial and error. When you work hard getting a function to work, when you fiddle with the element of a page and then are able to get the page to look like how you envision in your head, it is a truely rewarding feeling.        
    </div>
  </div>
</div>

  </div> <!-- end accordion -->

