    <header>
        <div class="header-content">
            <div class="header-content-inner">
    <h3>Thank you. We have received your message and will respond as soon as possible.</h3>
            </div>
        </div>
    </header>