   <header>
        <div class="header-content">
            <div class="header-content-inner">


<h1>New Product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>

</div>
</div>
</header>
